## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg
*.nuget.props
*.nuget.targets
project.lock.json
artifacts/
TestResults/
*.log
*.db
*.db-shm
*.db-wal
appsettings.Development.json
.env
*.DotSettings.user
*.cache
*.dll
*.exe
*.pdb
*.runtimeconfig.json
*.deps.json
*.GeneratedMSBuildEditorConfig.editorconfig
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
